<div class="parent-container">
<div class="sub-container">
  <p>
    <strong>Title:</strong>
    <%= @movie.title %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= @movie.duration %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @movie.description %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= @movie.genre %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= @movie.ratings %>
  </p>

  <p>
    <strong>Director:</strong>
    <%= @movie.director %>
  </p>

  <div class="actions">
  <%= link_to "Edit ", edit_movie_path(@movie) %>
   <%= link_to "Back ", movies_path %> 
    <%= button_to "Delete", @movie, method: :delete, class: "actions" %>
  </div>
</div>
</div>
